%label
  =se($obj->superform_label_for($field))
-if(array_key_exists('help', $data))
  [
  %span.collapsible_head ?
  ]
%br
=text_field($field, 'class', 'superform_color_picker', 'id', $id)
:js
  $(document).ready( function() {
    e=$('#<?=$id?>');
    v = e.val();
    if(v!='')
    {
      e.css('backgroundColor', '#' + v);
    }
  });
-if(array_key_exists('help', $data))
  .collapsible
    .form_help
      .title
        =se($field)
      .body
        =se($data['help']['body'])
        %br
        %img{:src=>magick_img_url('medium', $data['help']['img'])}