.section
  .title
    =se($params['field'])
  .instructions
    =se($params['field'] . " instructions")
  .body
    -foreach($params['data']['fields'] as $field=>$data)
      -$params = array('field'=>$field, 'data'=>$data, 'obj'=>$obj)
      -if(array_key_exists('item_array', $data) && !is_array($data['item_array']))
        -$params[$data['item_array']] = $$data['item_array']
      -event("{$data['type']}_field", $params)
      -if(array_key_exists($field, $obj->errors))
        %span{:class=>'error_message'}
          +$obj->errors[$field]
      -if(array_key_exists('info_page', $data))
        ="(".link_to(se("view {$data['info_page']}"), view_page_url($data['info_page']), 'target', '_blank').")";
      -if(array_key_exists('content_before', $data))
        =$data['content_before']
      -if(!in($data['type'], 'hidden'))
        %br